<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/style.css" />
    <title>
        Curing Chambers
    </title>
</head>
<body>
<div><pre><a href="/">Home</a>    <a href="/blog">Blog</a>    <a href="/chamber/The Black Box">The Black Box</a>    <a href="/login">Log in</a></pre></div>
<hr>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
<hr>
{% block content %}{% endblock %}
</body>
</html>